/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Serif JP', serif;
  /* font-family: 'Zen Old Mincho', serif; */
  /* font-family: 'Noto Sans JP', serif; */
  font-weight: 900;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

/* スクロールバーが必要ない場合でもスペースを予約し、レイアウトのガタつきを防ぐ */
.overflow-x-auto {
    scrollbar-gutter: stable;
}
